.body{

}

.twHandle{
    font-size: 12px;
    opacity: 0.5;
    color:#000;
}
.retweet{
    opacity: 0.5;
}
.twImage{
    width:100%;

}

.table-view-cell{
    padding-right: 6px;
}

.media-object{
    width:15%;
}

.author{
    font-size: 12px;
}

.wikiText{
    text-align: justify;
    padding: 15px;
    font-size: 14px;
    color:#474747;
}

p *{
    font-size: 14px;
    color:#474747;
    text-align: justify;

}

.table-view{
    margin-top: -15px;
}

.media-icon{
    width:5%;
}

.border{
    border: 1px solid #000000;
}

.grid-cols{
    padding-left:3px ;
    padding-right:3px ;
}

.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;

   /* overflow-y:hidden;*/
    height:250px;

    padding: 0 15px;
    position: fixed;
    width: 57%;
}

.DocumentItem
{
    /*border:1px solid black;*/
    padding:0;
    height:250px;
}

.list-inline {
    white-space:nowrap;
}


/*
.row-fluid{
    white-space: nowrap;
}
.row-fluid .col-md-4{
    display: inline-block;
}
*/

.inline {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.screenName{
    color:#000;

}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #EDE9E9;
}

.twitter .col-md-2{
    padding-right: 0px;
}

.twitter .col-md-10{
    padding-left: 0px;
}

.btn{
    font-size: 13px;
}

.twitter .row{
    margin-top: 10px;
}

a.btn.btn-link {
    padding: 0px;
    margin: 0px;
}

.btn-group-justified{
    padding-top: 3px;
}

.btn-link{
    color:#999999;
}

img .dp{
    vertical-align: text-top;
}

.navbar_right{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 20px !important;
}

