.body{

}

.twHandle{
    font-size: 12px;
    opacity: 0.5;
    color:#000;
}
.retweet{
    opacity: 0.5;
}
.twImage{
    width:100%;

}

.table-view-cell{
    padding-right: 6px;
}

.media-object{
    width:15%;
}

.author{
    font-size: 12px;
}

.wikiText{
    text-align: justify;
    padding: 15px;
    font-size: 14px;
    color:#474747;
}

p *{
    font-size: 14px;
    color:#474747;
    text-align: justify;

}

.table-view{
    margin-top: -15px;
}

.media-icon{
    width:5%;
}

.border{
    border: 1px solid #000000;
}

.grid-cols{
    padding-left:3px ;
    padding-right:3px ;
}

.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:250px;

    padding: 0 15px;
    position: fixed;
    width: 57%;
}

.DocumentItem
{
    /*border:1px solid black;*/
    padding:0;
    height:250px;
}

.list-inline {
    white-space:nowrap;
}


/*
.row-fluid{
    white-space: nowrap;
}
.row-fluid .col-md-4{
    display: inline-block;
}
*/
